@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


body{
    background:
    radial-gradient(circle at 100% 100%, #232844e0, transparent 40%),
    radial-gradient(circle at 30% 40%, #ffffff, transparent 50%),
    linear-gradient(to bottom, #ffffff, #000000);

}

@keyframes marqueeBounce {
  0% { transform: translateX(0%); }
  40% { transform: translateX(-50%); }
  60% { transform: translateX(-50%); }
  100% { transform: translateX(0%); }
}

.animate-marquee {
  animation: marqueeBounce 10s ease-in-out infinite;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-slideIn {
  animation: slideIn 0.3s ease forwards;
}

/* Hide scrollbar but keep scroll functionality */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

